<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th class="text-center" scope="col"><i class="fas fa-camera"></i></th>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Apellido</th>
            <th class="text-center" scope="col">Edad</th>
            <th class="text-center" scope="col">Genero</th>
            <th class="text-center" scope="col">Ubicación</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            class="text-center align-middle" 
            *ngFor="let user of users" 
            id="
              {{user.id.value}} 
              {{user.location.coordinates.latitude}} 
              {{user.location.coordinates.longitude}}" 
            (click)="showUser(user);"
            data-toggle="modal" 
            data-target="#userDetailModal">
            <td class="text-center"><img src="{{user.picture.thumbnail}}" class="img-fluid img-thumbnail" alt="{{user.name.title}} {{user.name.first}}"></td>
            <td class="align-middle">{{user.name.first}}</td>
            <td class="align-middle">{{user.name.last}}</td>
            <td class="align-middle">{{user.dob.age}}</td>
            <td class="align-middle" *ngIf="user.gender  == 'female'"><i class="fas fa-venus"></i></td>
            <td class="align-middle" *ngIf="user.gender == 'male'"><i class="fas fa-mars"></i></td>
            <td class="align-middle">{{user.location.city}}, {{user.location.country}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>